@model IEnumerable<Techno.ASP.Models.SkillModel>

@{
    ViewData["Title"] = "AllSkills";
}

<h1>AllSkills</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
               | <a asp-controller="Skill" asp-action="Update" asp-route-id="@item.Id">Modifier</a> | 
                @*<a asp-controller="Skill" asp-action="Detail" asp-route-id="@item.Id">Detail</a> |*@ 
                <a asp-controller="Skill" asp-action="Delete" asp-route-id="@item.Id" class="delete-link">Supprimer</a>

            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{ 
    <script>
        $(".delete-link").on("click", e => {
            let ok = confirm("Etes-vous sûr de vouloir supprimer ce skill ?");
            if (!ok) {
                e.preventDefault();
            }
        });
    </script>
}
